@import '~bootstrap/scss/bootstrap';

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.message{
  align-content: center;
align-items: center;
text-align: center;
  z-index: 2;
}
.success {
  color: white;
  font-size: 2em;
  position: absolute;
  align-content: center;
  text-align: center;
  z-index: 2;
}

.failure {
  color: red;
  font-size: 2em;
  position: absolute;
  align-content: center;
  text-align: center;
  z-index: 2;
}

.after-auth {
  display: none;
}

body {
  display: grid;
  min-height: 100vh;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(94,170,198,1) 100%);
  align-content: center;
  text-align: center;
}

.board {
  margin: 0px auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  // background-image: url(https://images.unsplash.com/photo-1556079337-a837a2d11f04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
  // background-size: cover;
}

.board-parent {
  height: 500px;
}

.box {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  min-height: calc(100% / 3);
  align-items: center;
  justify-content: center;
  background-color: white;
  color: red;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  font-size: 12vh;
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-last-child(-1n + 3) {
  border-bottom: 0;
}

.message-container {
  bottom: 1rem;
  left: 1rem;
  margin: auto;
  max-width: 500px;
  position: fixed;
}
