@import '~bootstrap/scss/bootstrap';
$black: #000;

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success {
  background-color: green;
  color: white;
  font-size: 2em;
}

.failure {
  background-color: red;
  color: white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

body {
  display: grid;
  min-height: 100vh;
}

body {
  display: grid;
  min-height: 100vh;
}

.board {
  margin: 0px auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.board-parent {
  height: 500px;
}

.box {
  border-bottom: 5px solid teal;
  border-right: 5px solid teal;
  display: flex;
  min-height: calc(100% / 3);
  align-items: center;
  justify-content: center;
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-last-child(-1n + 3) {
  border-bottom: 0;
}
